name: Release
on:
  workflow_dispatch:
    inputs:
      images:
        type: string
        description: "Image to release"
        required: true
      version:
        description: "Version to release"
        required: true

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set matrix
        id: set-matrix
        run: |
          images="${{ github.event.inputs.images }}"
          # Convert comma-separated string to JSON array
          matrix=$(echo "$images" | tr ',' '\n' | jq -R -s -c 'split("\n") | map(select(. != ""))')
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  release:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image: ${{ fromJson(needs.prepare.outputs.matrix) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pre-build dev container image
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/${{ github.repository }}-${{ matrix.image }}
          imageTag: ${{ github.event.inputs.version }}
          push: always
          subFolder: src/${{ matrix.image }}
